* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-color: #f9fafb; 
    color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.slogan-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #777; 
    font-style: italic;
}

.size-control {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
    align-items: center;
    width: 350px;
}

#grid-size {
    padding: 5px;
    font-size: 1rem;
    width: 120px;
    border: 2px solid #b8c2cc;
    border-radius: 8px;
    background-color: #fff;
    color: #6c7c8c; 
}

#size-button {
    font-size: 1rem;
    height: 2em;
    width: 80px;
    background-color: #341de2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#size-button:hover {
    background-color: #ff7f7f;
}

.grid-and-controls {
    display: flex;
    gap: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 330px;
    align-items: center;
    gap: 10px;
    border: 2px solid #bbb;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clear-button,
.black-button,
.erase-button,
.color-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fa1a3;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.clear-button:hover,
.black-button:hover,
.erase-button:hover,
.color-button:hover {
    transform: scale(1.05);
    background-color:  #341de2; 
    color: white;
}

#clear-button,
#erase-button,
#black-button,
#random-button {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    color: black;
}

#color-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffeb99;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #b8c2cc; 
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 10px #b8c2cc;
}

.grid {
    grid-gap: 1px;
    width: 100%;
    height: 100%;
}

.grid div {
    background-color: #ffffff; 
    border: 1px solid #f1f1f1; 
    transition: background-color 0.2s ease;
}

.grid div:hover {
    background-color: #e1f3f1;
}


